<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login V1</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="{{ url_for('static', filename='images/HOSPİTAL.jpg') }}"
      rel="icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="/static/images/HOSPİTAL.jpg" alt="IMG" />
          </div>

          <form method="POST" class="login100-form validate-form">
            <span class="login100-form-title">
              Yetkili Giriş
            </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="text"
                name="email"
                placeholder="E-posta Adresi"
              />
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="password"
                name="password"
                placeholder="Parola"
              />
            </div>

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">
                Giriş Yap
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>