h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

a {
  text-decoration: none;
  color: #000;
  font-family: "Poppins", Arial, sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6,
.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn {
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}

.btn-success {
  background-color: #57b846;
  border-color: #57b846;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.text-center {
  text-align: center !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: gray;
}

h2,
.h2 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000;
}

.ftco-section {
  padding: 3em 0;
}

.heading-section {
  font-size: 28px;
  color: #000;
}

.table-wrap {
  overflow-x: scroll;
}

.table {
  min-width: 1000px !important;
  width: 100%;
}
.table thead th {
  border: none;
  padding: 30px;
  font-size: 13px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
}
.table thead tr {
  background: #fff;
}
.table tbody tr {
  background: #fff;
}
.table tbody th,
.table tbody td {
  border: none;
  padding: 20px 30px;
  font-size: 14px;
  vertical-align: middle;
}
